.bos{
    height: 100px;
    display: block;
}
.body{
    display: flex;
    height: 100vh;
    /* margin: 2rem; */
    background-color:  #00008b; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}
